extend home

block box
    .box-inside(style="padding:20px")
        h3 Your Email
        p Email ID 
        input(type="text",class="inpT",id="emailId", placeholder="xyz@gmail.com")
        p Subject
        input(type="text",class="inpT",id="subType")
        p Message
        textarea(id="msgtext" style="Width:100%;resize:none;height:120px;font-size:17px;resize:vertical;") 