extend home

block box
    .box-inside(style="padding:20px")
        h3 Your SMS
        p Phone Number
        input(type="text",class="inpT",id="phoneNo", maxlength="10" placeholder="1234567899")
        p Message
        textarea(id="msgtext" style="Width:100%;resize:none;height:120px;font-size:17px;") 